/* Tablets */

@media screen and (min-width: 768px) {
    /* Header tamaños */

    header {
        height: 40rem;
        justify-content: center;
    }

    .header-logo {
        margin: 3.9rem auto 0 auto;
    }

    .header-logo img {
        width: 174px;
    }
    

    h1 {
        font-size: 4rem;
        line-height: 4.2rem;
    }
    
    .header-text p {
        font-size: 2rem;
        line-height: 2.4rem;
    }

    /* Section de cambios */

    .section-bitcoin img {
        width: 19.5rem;
        height: 19.5rem;
    }
    
    .section-text-content {
        width: 466px;
    }
    
    .section-text-content h2 {
        font-weight: var(--bold);
        font-size: 4rem;
        line-height: 4.2rem;
        color: var(--color-dark-warm);
    }
    
    .section-text-content p {
        font-weight: var(--normal);
        font-size: 2rem;
        line-height: 2.4rem;
        color: var(--color-gray);
    }

    .section--table-position {
        margin-top: 5rem;
        justify-content: center;
    }

    /* Sección de beneficios */

    .section-main-benefits {
        height: 64.4rem;
    }
    
    .section-text-benefits {
        margin: 6.4rem auto 4rem auto;
    }
    
    .section-text-benefits h2 {
        font-size: 4rem;
        line-height: 4.2rem;
    }
    
    .section-text-benefits p {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
    .section-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, auto);  
        gap: 1rem; 
    }
    
    .section-cards-especifically {
        width: 90%;
        font-size: 2rem;
    }

    /* Sección de imagen naranja */
    
    .section-main-orange p {
        font-weight: var(--bold);
        font-size: 4rem;
        line-height: 4.2rem;
        align-content: center;
        text-align: center;
        margin: 6.4rem auto;
        color: var(--color-light);
    }

    /* Sección de planes */

    .section-cards-efect {
        justify-content: center; /* Importante para que el scroll funcione */
    }

    /* Sección de preguntas */
    
    .section-questions h2 {
        width: 46.6rem;
        font-size: 4rem;
        line-height: 4.2rem;
    }
    
    .section-questions-list {
        gap: 2.6rem;
        margin: 8rem auto 6.4rem auto;
    }
    
    .section-questions-list p {
        width: 46rem;
        font-size: 2rem;
        line-height: 2.4rem;
        gap: 3rem;
    }

    /* Footer de la página */

    footer {
        height: 24rem;
        gap: 18.3rem;
    }
    
    .footer-list {
        gap: 3rem;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    footer img {
        width: 16.68rem;
        height: 11.12rem;
    }
}